/* // ABCD, priority rules
// preprocessors
// frameworks
// BEM vs other approaches
// positioning elements
// display: none; vs visibility: hidden;
// div vs span
// responsive
// media
// bootstrap
// flex vs css grid
// SAAS vs SCSS

*/

#display {
  display: block;
  display: inline;

  display: table;
  display: flex;
  display: grid;

  display: contents;
  display: none;
}

#position {
  position: static;
  position: relative;
  position: absolute;
  position: fixed;
  position: sticky;
}

Selectors
  div.p
  div p
  div, p
  div > p
  div + p
  div ~ p
  [attr=value]
  a:hover
  a::before, a::after


How to style React, what approach you know?
  - global BEM
  - Styled Components
  - CSS Modules
  - Inline styles

Browser support